.table > :not(caption) > * > *{
  padding: 0.72rem 0.72rem;
}
.text-right {
  text-align: right;
}
.placeholder{
  background: none;
  cursor: none;
  opacity: 1;
}
.view-filters{
  display: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  border-color: unset;
  border-style: unset;
  border-width: 5px 4px 0 4px;
  height: 100%;
  left: 0;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}
.horizontal-menu .header-navbar.navbar-brand-center .navbar-header {
  position: absolute;
  left: calc(6% - 56px);
  padding: 0;
  z-index: 1000;
}
.ml-10{
  margin-left:  25px;
}
.form-group{
  margin-bottom: 15px;
}
.relative {
  position: relative;
}
.text-blue{
  color: #1D1CE5;
}
.font-14{
  font-size: 14pt;
}
.flatpickr-wrapper{
  width:100%!important;
}
.font-weight-600{
  font-weight: 600;
}
.font-size-25{
  font-size: 20px;
}
@page {
  size: A5 landscape;
  margin: 10%;
}
body,html {
  font-family: Roboto!important;
  font-size: 16px;
  color:#202124!important;
}
h1, h2, h3, h4, h5, h6,ul,li,.header-navbar {
  font-family: Roboto!important;
}
.header-navbar {
  color:#202124!important;
  font-family: Roboto!important;
}
.dropdown-item {
  font-size: 15px!important;
}
.table{
  color:#202124!important;
}
.main-menu-content, .main-menu-content ul, .main-menu-content ul li{
  text-transform: uppercase;
  color: #202124!important;
  font-weight: 600;
  font-size: 15px;
}
.mr-10{
  margin-right: 10px;
}
.btn-remove-hop-dong{
  background: white;
  border-radius: 4px;
  position: absolute;
  top: -3px;
  right: -4px;
}
.td-hop-dong{
  max-width: 350px!important;
}
@media (max-width: 1199.98px){
  .horizontal-layout.horizontal-menu .horizontal-menu-wrapper .header-navbar {
    display: unset;
  }
  .horizontal-layout.navbar-floating:not(.blank-page) .app-content {
    padding: calc(2rem + 4.45rem* 2 + 1.3rem) 2rem 0 2rem!important;
  }
}
@media (max-width: 800px){
  .horizontal-layout.horizontal-menu .horizontal-menu-wrapper .header-navbar {
    display: none;
  }
  .horizontal-layout.navbar-floating:not(.blank-page) .app-content {
    padding: calc(2rem + 4.45rem ) 2rem 0 2rem!important;
  }
}

.file-upload {
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  border: 4px dashed #7367f0;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #7367f08c;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #7367f0;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}
 .brand-logo img {
   max-width: 55px!important;
   width: 100px;
}
table tr th{
  vertical-align: middle!important;
}
.nav-item.nav-toggle{
  position: absolute;
  top: 0;
  right: 10px;
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
.carousel-item img, td img {
  max-height: 250px;
  width: 100%;
  object-fit: contain;
  object-position: 50% 50%;
}
td img {
  max-height: 50px;
  width: 100%;
  object-fit: contain;
  object-position: 50% 50%;
}
@media (max-width: 767px) {
  .max-width-100{
    max-width: 220px;
  }
}

#listbody .select2-dropdown{
  width: 40%!important;
  min-width: 250px;
}
.ecommerce-card .img-fluid{
  max-height: 225px;
  object-fit: contain;
  object-position: 50% 50%;
}
.text-over{
  overflow: hidden;
  text-overflow: ellipsis;
  width: 240px;
  white-space: nowrap;
  display: block;
}
.phone-icon{
  background: #2ba503;
  padding: 5px;
  border-radius: 50px;
  box-shadow: 0 0 5px #2ba503;
}
.phone-icon:hover,.email-icon:hover,.zalo-icon:hover,.facebook-icon:hover{
  transform: translateY(-3px);
  transition: 0.5s;
}
.phone-icon:active,.email-icon:active,.zalo-icon:active,.facebook-icon:active{
  transform: scale(90%);
  transition: 0.5s;
}
.facebook-icon{
  background: #1f4297;
  border-radius: 50px;
  box-shadow: 0 0 5px #1f4297;
}
.avatar,.brand-logo{
  background: white!important;
  border-radius: 50%!important;
}

.hotline-chat {
  position: fixed;
  bottom: -12px;
  right: -9px;
  z-index: 99;
}
.hotlinefix {
  position: fixed;
  bottom: 94px;
  right: 16px;
  z-index: 99;
}
.circle-hotline-chat {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #0080FF;
  -webkit-transition: height .25s ease, width .25s ease;
  transition: height .25s ease, width .25s ease;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  margin-top: 3px;
  margin-left: -3px;
}
.circle-hotline-chat span {
  margin: 12px;
  display: inline-block;
}
.circle-hotline-chat:before,
.circle-hotline-chat:after {
  content:'';
  display:block;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  border-radius:50%;
  border: 1px solid #0080FF;
}
.circle-hotline-chat:before {
  -webkit-animation: ripple1 2s linear infinite;
  animation: ripple1 2s linear infinite;
}
.circle-hotline-chat:after {
  -webkit-animation: ripple1 2s linear 1s infinite;
  animation: ripple1 2s linear 1s infinite;
}
.circle-hotline-chat:hover:before,
.circle-hotline-chat:hover:after {
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes ripple1{
  0% {-webkit-transform:scale(1); }
  75% {-webkit-transform:scale(1.75); opacity:1;}
  100% {-webkit-transform:scale(2); opacity:0;}
}

@keyframes ripple1{
  0% {transform:scale(1); }
  75% {transform:scale(1.75); opacity:1;}
  100% {transform:scale(2); opacity:0;}
}
.circle-hotline-chat img {
  width: 50px;
  max-width: 100%;
  height: auto;
}
.hotline-chat .phone {
  font-size: 16px;
  font-weight: bold;
  background: #F00;
  color: white;
  padding: 1px 30px 1px 75px;
  border-radius: 39px;
  left: -25px;
  top: -25px;
  position: absolute;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
}
#home-chat .hotline-chat .phone p {
  line-height: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
}
#home-chat .hotline-chat .phone p a{
  font-style: inherit;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.circle-hotline {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #F00;
  -webkit-transition: height .25s ease, width .25s ease;
  transition: height .25s ease, width .25s ease;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  margin-top: -3px;
  margin-left: -33px;
}
.circle-hotline span {
  margin: 12px;
  display: inline-block;
}
.circle-hotline:before,
.circle-hotline:after {
  content:'';
  display:block;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  border-radius:50%;
  border: 1px solid #F00;
}
.circle-hotline:before {
  -webkit-animation: ripple1 2s linear infinite;
  animation: ripple1 2s linear infinite;
}
.circle-hotline:after {
  -webkit-animation: ripple1 2s linear 1s infinite;
  animation: ripple1 2s linear 1s infinite;
}
.circle-hotline:hover:before,
.circle-hotline:hover:after {
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes ripple1{
  0% {-webkit-transform:scale(1); }
  75% {-webkit-transform:scale(1.75); opacity:1;}
  100% {-webkit-transform:scale(2); opacity:0;}
}
@keyframes ripple1{
  0% {transform:scale(1); }
  75% {transform:scale(1.75); opacity:1;}
  100% {transform:scale(2); opacity:0;}
}
.circle-hotline img {
  width: 50px;
  max-width: 100%;
  height: auto;
}
.hotlinefix .phone {
  font-size: 14px;
  font-weight: bold;
  background: #FFF;
  color: #F00;
  padding: 0px 70px 1px 35px;
  border-radius: 39px;
  left: -197px;
  top: -29px;
  position: absolute;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
}
.hotlinefix .phone a {
  display: block;
  /* margin-bottom: 20px; */
  padding: 10px 0;
  font-size: 14pt;
}
.hotlinefix .phone p {
  line-height: 8px;
  margin-top: 6px;
  margin-bottom: 4px;
}
.hotlinefix .phone p a{
  font-style: inherit;
  color: #F00;
  text-shadow: none;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
.hotlinefix span.phone a {
  color: #f00;
  font-weight: 600;
}
.skiptranslate{
  display: none!important;
}
.skiptranslate.goog-te-gadget{
  display: block!important;
}
body{
  top: unset!important;
}
/*.skiptranslate span{*/
/*  display: none!important;*/
/*}*/
.skiptranslate:nth-child(2){
  display: none;
}
